html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* карта ВСЕГДА на весь экран */
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100vw;
  height: 100vh;
}

/* UI поверх карты */
#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;

  width: 280px;
  background: white;
  padding: 10px;
  border-radius: 10px;
}
