html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#map {
  height: 100vh;
  width: 100vw;
}

/* если есть UI */
#ui {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
  width: 280px;
  background: white;
  padding: 10px;
  border-radius: 10px;
}
