body {
  margin: 0;
  font-family: Arial;
}

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 280px;
  background: #111;
  color: white;
  padding: 20px;
}

#map {
  flex: 1;
}

input, select {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
